{% extends 'base.html' %}

{% block content %}

<nav>
    <a href="create/">Create new product</a>
</nav>

{% for item in object %}
<h1>App template: {{object.title}}</h1>
{% if not item.desc %}
<p>Description coming soon</p>
{% else %}
<p>{{item.desc}}</p>
<p>{{item.price}}</p>
<p>{{item.summary}}</p>
<p>{{item.feature}}</p>
<nav>
    {% if object.count > 1 %}
        <a href='{{ item.get_abs_url }}'>Select</a>
        <a href="{{item.get_abs_url}}delete/">Delete</a>
    {% else %}
        <a href="delete/">Delete</a>
    {% endif %}
</nav>
{% endif %} 
{% endfor %}

{% endblock content %}